.breadcrumbs {
    background: rgba(#dfdfdf, 0.5);
    padding: 13px 14px;
    position: relative;
    z-index: 99;

    // .breadcrumbs__list

    &__list {
        display: flex;
    }

    // .breadcrumbs__item

    &__item::after {
        content: '/';
        margin: 0 4px 0 -2px;
    }

    &__item:last-child::after {
        content: '';
    }

    // .breadcrumbs__link

    &__link {
        font-size: 14px;
        font-weight: 700;
        color: $default-color;
    }
}

